{{#if sucesso_msg}}
    <div class="alert alert-success">{{sucesso_msg}}</div>
{{/if}}

{{#if erro_msg}}
    <div class="alert alert-danger">{{erro_msg}}</div>
{{/if}}

{{!
3 - 
exibe variaveis globais
todo partials tem que ser adicionado no main.handlebars
 }}