<h4>Painel do administrador</h4>
<hr>

<a href="/admin/categorias"><button class="btn btn-success">Categorias</button></a>
<br>
<a href="/admin/postagens"><button class="btn btn-success mt-2">Postagens</button></a>