<div class="card">
    <div class="card-body">
        <h1>{{pos.titulo}}</h1>
        <small><b>Data de publicação:</b>{{pos.date}}</small>
        <hr>
        {{pos.conteudo}}

        <br>
        <a href="/"><button class="btn btn-success mt-4" >Voltar</button></a>
    </div>
</div>