{{#each e}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2>Alterar senha:</h2>

<div class="card mt-4">
    <div class="card-body">
        <form action="/usuarios/senha/edit/{{user._id}}" method="POST" >
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control" required>
            <label for="novasenha">Nova senha:</label>
            <input type="password" name="novasenha" class="form-control" required>
            <label for="novasenha2">Repita sua nova senha:</label>
            <input type="password" name="novasenha2" class="form-control" required>

           <button type="submit" class="btn btn-success mt-4">Alterar</button>
        </form>

    </div>
</div>